#git ignore files

#vim swapfiles
*.swp
*.swo
*.sh

#vim sessionfiles
*.vimsess

#ctags files
.tags

# ignore binaries from version control

HelloWorldStruts2/target/

.metadata
.classpath
.project
.settings/
*.properties
/Servers
